@import "bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "logoFont";
  src: url(./WelcomePage/Fonts/Rowdies-Bold.ttf);
}
.logoFont {
  font-family: "logoFont";
  font-size: 60px;
}
.logoFontMedium {
  font-family: "logoFont";
  font-size: 30px;
}
.logoFontSmall {
  font-family: "logoFont";
  font-size: 17px;
}
body {
  overflow: hidden;
}

/* First page */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-white {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
  width: 100%;
}
.App-footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: logoFontSmall;
  padding-top: 10px;
}
.width-menu {
  width: 50vw;
}
.height-order {
  height: 100px;
}
.modal-main {
  background-color: white;
  color: #282c34;
  align-items: center;
  justify-content: center;
  font-family: logoFont;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.App-main {
  display: flex;
  align-items: center;
  padding: 20px;
}
/* Center align the main content */

.text-slide-left {
  font-size: calc(10px + 2vmin);
  animation: slideInLeft 5s forwards;
}
.text-slide-right {
  font-size: calc(10px + 2vmin);
  animation: slideInRight 5s forwards;
}
.soup {
  font-size: calc(10px + 2vmin);
}

/* Define the slide-in animation */

@keyframes slideInLeft {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(50);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(-100);
    opacity: 1;
  }
}

.table {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr;
}
.menu-item-1 {
  align-items: start;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-height {
  height: 200px;
}

.menu-main {
  /* top: 0;
  right: 50%;
  left: 50%;
  opacity: 0.6; */
  color: white;
  transition: opacity 0.1s ease, color 0.3s ease;
  padding: 10px;
}

.menu-main:hover {
  opacity: 1;
  color: #dc3545;
  cursor: pointer;
  outline: 1px solid #dc3545;
}

@import "sweetalert2/dist/sweetalert2.min.css";
