@font-face {
  font-family: "logoFont";
  src: url(./WelcomePage/Fonts/Rowdies-Bold.ttf);
}
.logoFont {
  font-family: "logoFont";
  font-size: 60px;
}
.logoFontMedium {
  font-family: "logoFont";
  font-size: 35px;
}
.logoFontSmall {
  font-family: "logoFont";
  font-size: 15px;
}
.p-7 {
  padding: 60px;
}
.p-minus-7 {
  padding: -20px;
}
.place-image {
  border-radius: 10px;
}
.place-bg {
  background-color: #282c34;
  box-shadow: 5px 5px 16px 5px rgba(255, 255, 255, 0.2),
    0 6px 15px 0 rgba(255, 255, 255, 0.19);
  border-radius: 8px;
  opacity: 90%;
  padding: 8px;
}
.place-bg p {
  opacity: 100%;
}

body {
  overflow: hidden;
}
.container-cart {
  position: relative;
}
.cart-align {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.cart-align img {
  height: 40px;
}

/* First page */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-white {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
  width: 100%;
}
.App-footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: logoFontSmall;
  padding-top: 10px;
}
.width-menu {
  width: 50vw;
}
.height-order {
  height: 100px;
}
.modal-main {
  background-color: white;
  color: #282c34;
  align-items: center;
  justify-content: center;
  font-family: logoFont;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.App-main {
  display: flex;
  align-items: center;
  padding: 20px;
}

.text-slide-left {
  font-size: calc(10px + 2vmin);
  animation: slideInLeft 5s forwards;
}
.text-slide-right {
  font-size: calc(10px + 2vmin);
  animation: slideInRight 5s forwards;
}
.appersCenter {
  font-size: calc(10px + 2vmin);
  animation: appersCenter 5s forwards;
}
/* .soup {
  font-size: calc(10px + 2vmin);
} */

/* Define the slide-in animation */

@keyframes slideInLeft {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(50);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(-100);
    opacity: 1;
  }
}
@keyframes appersCenter {
  from {
    transform: translateX(-200);
    opacity: 0;
  }
  to {
    transform: translateX(50);
    opacity: 1;
  }
}

.table {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr;
}
.menu-item-1 {
  /* align-items: start; */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-height {
  height: 200px;
  transition: height 0.1s ease;
}

.menu-main {
  /* top: 0;
  right: 50%;
     : 50%;
  opacity: 0.6; */
  color: white;
  transition: opacity 0.1s ease, color 0.3s ease;
  padding: 6px;
  outline: 1px solid #dc3545;
}

.menu-main:hover {
  opacity: 1;
  color: #dc3545;
  cursor: pointer;
  outline: 1px solid #dc3545;
}
.vh-booking {
  min-height: 80vh;
}

.phone-menu {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* mobile */

@media (max-width: 551px) {
  body {
    overflow: visible;
  }
  .phone-menu {
    margin-right: 0;
    margin-left: 0;
  }

  .logoFont {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .logoFontMedium {
    font-size: 14px; /* Adjust font size for medium text */
  }

  .logoFontSmall {
    font-size: 17px; /* Adjust font size for small text */
  }

  .App-header {
    font-size: 18px; /* Adjust font size for the main header */
  }
}

@media (max-width: 675px) {
  .image-height {
    height: 150px;
  }
}

@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-calendar/dist/Calendar.css";
@import "sweetalert2/dist/sweetalert2.min.css";
